
# Jekyll build output and local tooling
# OS noise
.DS_Store
.bundle/
.bundle/
.jekyll-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-metadata
.sass-cache/
.sass-cache/
Gemfile.lock
Thumbs.db
_site/
_site/
desktop.ini
vendor/
